body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Judul */
h1 {
    margin-top: 30px;
    color: #2c3e50;
}

/* Container matkul */
.container-matkul {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}

/* Card */
.card {
    width: 220px;
    height: 130px;
    background: white;
    border-radius: 15px;
    text-decoration: none;
    color: #2c3e50;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: 0.3s;

    /* animasi muncul */
    animation: muncul 0.6s ease;
}

/* Hover */
.card:hover {
    transform: translateY(-10px);
    background: #6c5ce7;
    color: white;
}

/* Animasi muncul */
@keyframes muncul {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.info-login {
    margin-top: 20px;
    padding: 15px;
    background: #f1f2f6;
    border-left: 5px solid #6c5ce7;
    border-radius: 8px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.info-login p {
    margin: 5px 0;
    font-size: 14px;
}